.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 300px;
}

.cell{
    height: 100px;
    width: 100px;
    flex: 0 0 calc(33.3% - 10px);
    margin: 5px 0px 5px 0px;
    background-color: aqua;
    border-radius: 5px;
    cursor: pointer;
    caret-color: transparent;
}

.reset{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    border: 0;
    height: 30px;
    background-color: #c0dd11;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    border-radius: 5px;
}

.cell:nth-child(even){
    background-color: #73af1a; 
}

.cell:nth-child(odd){
    background-color: #c0dd11; 
}

.won{
    margin-top: 20px;
    font-size: 25px;
}

.cell-withX::before{
    content: 'X';
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell-withO::before{
    content: 'O';
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}